.add-btn-container {


  position: relative;
  width: 214px;
  height: 150px;
  right: 250px;
  top: 100px;

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden;    
  &:hover {
    opacity: 50%;
}

  /* Light/Background/Paper */
}
.logOut-btn-container{
  position: relative;
  width: 214px;
  height: 150px;
  left: 750px;
  top: 100px;

  background-color: Transparent;
  background-repeat:no-repeat;
  border: none;
  cursor:pointer;
  overflow: hidden; 
  
  &:hover {
    opacity: 50%;
}

}

.add-btn-text {

  position: relative;
  top: 200px;
  right: 580px;
  padding-bottom: 0px;

  width: 82px;
  height: 24px;

  /* Light/Components/Button Medium */


  /* Light/Secondary/Main */
  color: #8a8d93;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
